body {
    --primary-color: #f3f4f6dd;
}

.KeyFeatures-heading {
    color: #f3f4f6dd;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
}

.keyfeatures {
    color: var(--primary-color);
    transform: translateY(-2rem);
}

.feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
    padding: 1rem 13rem;
}

.feature-content {
    h2 {
        font-size: 2rem;
        font-weight: 700;
        margin: 0;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.05rem;
        margin: 0;
        width: 70%;
    }
}

.feature-image img {
    height: 20rem;
}

.other .feature-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    p {
        text-align: end;
    }

    h2 {
        text-align: end;
    }
}

/* Mobile and smaller screen adjustments */
@media (max-width: 768px) {
    .feature {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .KeyFeatures-heading {
        font-size: 1.7rem;
        margin-bottom: 5rem;
        transform: translateY(-8.5rem);
    }

    .keyfeatures {
        transform: translateY(-12rem);
    }

    .feature-content {
        width: 100%;
        text-align: center;
        display: flex
;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .feature-image img {
        height: 15rem;
        margin-bottom: 1rem;
    }

    .other {
        display: none;
    }

    .feature-content p {
        width: 90%; 
    }

    .feature-content h2 {
        font-size: 1.5rem; 
    }
}

/* Large screens adjustments */
@media (min-width: 1024px) {

    .feature-content p {
        width: 70%; 
    }

    .feature-content h2 {
        font-size: 2.2rem; 
    }
}

